#echartsGraph,
html,
body {
  width: 100%;
}
#echartsContainer {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 75%;
  border-width: 2px;
  border-style: solid;
  border-color: antiquewhite;
}
#echartsGraph {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.echartsTooltip {
  word-wrap: break-word;
  white-space: pre-wrap;
  max-width: 400px;
  font-size: 15px;
  color: #000;
  margin-bottom: 0px;
  overflow-y: scroll;
}

