.right-menu {
  position: fixed;
  z-index: 999;
  display: none;
  font-size: 5px;
  width: 75px;
  height: auto;
  padding: 5px 0px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  color: #333;
}
.right-menu a:hover,.right-menu a:active {
  font-weight: bold;
  background-color: #ccc;
}
.right-menu a {
  line-height: 24px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 0 0 7px;
  text-decoration: none;
  display: block;
  /*font-weight: bold;*/
}
#echartGlobeMenu {
  width: 25%;
  min-width: 200px;
  position: absolute;
  right: 10px;
  top: 50px;
  font-size: 10px;
  align-items: center;
  justify-content: center;
}
#echartGlobeMenu > .menu-item {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 20px;
}
#echartGlobeMenu .menu-item input[type="range"] {
  width: 50%;
}
